<mat-sidenav-container class="all-wrap">

  <mat-sidenav #sidenav over>
    <mat-list>
      <mat-list-item
        *ngFor="let route of routes"
        [routerLink]="route.path"
        (click)="sidenav.toggle()"
      >
        <mat-icon>code</mat-icon>&emsp;{{route.name}}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap img-bg">

    <mat-toolbar>
      <mat-toolbar-row>
        <span>
          <mat-icon
            (click)="sidenav.open()"
          >menu
          </mat-icon>
        </span>
        <span><h1>Toolbar</h1></span>
      </mat-toolbar-row>
    </mat-toolbar>


    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <h2>Sticky Footer !!</h2>
      <p>... with variable height</p>
    </footer>
  
  </mat-sidenav-content>

</mat-sidenav-container>
