<mat-sidenav-container class="all-wrap">

  <mat-sidenav #sidenav over>
    <mat-list>
      <mat-list-item
        *ngFor="let route of routes"
        [routerLink]="route.path"
        (click)="sidenav.toggle()"
      >
        <mat-icon>code</mat-icon>&emsp;{{route.name}}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap img-bg">

    <mat-toolbar class="app-toolbar">
      <mat-toolbar-row>
        <span>
          <mat-icon
            (click)="sidenav.open()"
          >menu
          </mat-icon>
        </span>
        <span><h1>snail4j - self-paced & hands-on Java education</h1></span>
      </mat-toolbar-row>
    </mat-toolbar>
<p>b4 main</p>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <p>after main</p>
    <footer>
      <!-- adding stuff here grows the height of the footer -->
      <app-health-checks></app-health-checks>
    </footer>
  
  </mat-sidenav-content>

</mat-sidenav-container>
