.child-1{
    background-color: orange;
}

.child-2{
}
.child-3{
}
    
.container{
     margin: 15px;
     height:200px;
}
    
.example-h3 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }
  .input-full-width {
    width:800px;
}
.parent-full-width {
  min-width: 150px;
  max-width: 500px;
  width:100%;
}