<mat-card class="info-card">

  <mat-tab-group>
    <mat-tab label="Step 1:  Start/Stop">
      <mat-card class="info-card">
        <mat-checkbox 
        [disabled]="isSutInProcess()"
        [(ngModel)]="IsChecked"
        (change)="onEnableCheckboxChange($event)" >System Under Test</mat-checkbox>

        <mat-card-title>
            Status: {{ getTextStatus() }}
        </mat-card-title>
      </mat-card>

    </mat-tab>
    <mat-tab [disabled]="workloadTabDisabled"  label="Step 2:  Choose Workload">
            <mat-tab-group mat-align-tabs="end">
                    <mat-tab label="@Load Annotations">

                    </mat-tab>
                    <mat-tab label="Workload Key">

                    </mat-tab>
                </mat-tab-group>        
    </mat-tab>
  </mat-tab-group>
  
</mat-card>  