<?xml version="1.0" encoding="UTF-8"?>
<!--  @stolenFrom: https://javadeveloperzone.com/spring-boot/spring-boot-slf4j-and-logback-example/ -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{dd-MM-yyyy hh:mm:ss.SSS a} [%thread]  %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/logFile.log</file>
        <encoder>
            <pattern>[%-5level] %d{dd-MM-yyyy hh:mm:ss.SSS a} [%thread]  %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.github.eostermueller.snail4j.workload" level="ALL" additivity="true">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>