<!--

Layout:

I started out with this, checkbox, radio buttons, source.

   X   X   X

   But there was no header/footer margin.

   to get header/footers, I dropped the above XXX onto this:

   V   <<<-----   header        (vertical_spacer)
   V   <<<-----   X   X   X     (vertical-content)
   V   <<<-----   footer        (vertical-spacer)

H0RIZ0NTAL:  https://stackblitz.com/edit/angular-gdy5m9 (missing header/footer)  
VERTICAL:  https://stackblitz.com/edit/angular-opnseh (header/footer -- but no content)
B0TH/FINAL:  https://stackblitz.com/edit/angular-8ojahg

Material Radio Button Selection
https://stackblitz.com/edit/perfgoat-usecase-selection?file=src/app/app.component.ts
-->

<mat-card class="democard" [style.background-color]="IsChecked ? 'orange' : 'white'" >
    <div class="vertical_box">

        <div class="vertical_spacer">      
          <p></p>
        </div>
    
        <div class="vertical_content">
          <!-- start of horizontal row of boxes -->
          <div class="horizontal_box">
            <div class="horizontal_spacer">
                <mat-checkbox 
                  [(ngModel)]="IsChecked"
                  (change)="onEnableCheckboxChange($event)" > </mat-checkbox>
                <p></p>
                <mat-card-title>{{useCase.name}}</mat-card-title>
            </div>
            <div class="horizontal_spacer"></div>
            <div class="horizontal_content">
             
              <mat-card-content>
             
            <section>
                <mat-card style="margin-top: 1rem"><!-- added to get white bg when enabld w/ orange container bg. -->
        
                <label id="example-radio-group-label">Select an implementation:</label>   
                <p>
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    (change)="onRadioChange($event)"
                    [(ngModel)]="selectedIndex">

                    <div *ngFor="let processingUnit of useCase.processingUnits; let i = index">

                        <mat-radio-button 
                        [value]="i">
                        {{processingUnit.method.name}}
                       </mat-radio-button>
                    </div>          
                  </mat-radio-group>
                </mat-card>

             
            </section>
             
              </mat-card-content>
            </div>
            <div class="horizontal_spacer"></div>
            <div class="horizontal_content">
                <mat-card style="margin-top: 1rem"><!-- added to get white bg when enabld w/ orange container bg. -->

                  <code>
                    <pre>public class Hello</pre>
                  </code>
                </mat-card>
            </div>
            <div class="horizontal_spacer"></div>

          </div>
          <!-- end of horizontal row of boxes -->


        </div>
    
        <div class="vertical_spacer">
          <p> </p>
        </div>
        
    
    </div>
    
   
  </mat-card>
  <p></p>