<mat-card class="democard">
    <mat-checkbox [(ngModel)]="IsChecked" >Running?</mat-checkbox>
 
  <mat-card-header>
   
  <mat-card-title>{{useCase.name}}</mat-card-title>
   
   
  </mat-card-header>
   
  <mat-card-content>
   
  <section>

      <label id="example-radio-group-label">Which implementation to run?</label>   
      <p>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="selectedStatus">

              <mat-radio-button 
               *ngFor="let processingUnit of useCase.processingUnits" 
               [value]="processingUnit.method.name">
                Name: {{processingUnit.method.name}}
                <mat-divider></mat-divider>
              </mat-radio-button>

        </mat-radio-group>

    <div>Your favorite season is: {{puMethod}}</div>    
   
  </section>
   
  </mat-card-content>
   
  </mat-card>
  <p></p>