<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="app-toolbar">Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="/workload">Workload_T</a>
        <a mat-list-item routerLink="/metrics">Metrics</a>
        <a mat-list-item routerLink="/jvm-parameters">JVM Parameters</a>
        <a mat-list-item routerLink="/deployment">Deployment</a>
      </mat-nav-list>  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>    
  </mat-sidenav-content>
</mat-sidenav-container>
